---
layout: page
---

  {% for post in site.posts  %}
    {% unless post.draft %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

      {% if forloop.first %}
        <li style="list-style: none; line-height:160%;font-size:30px;font-weight:bold", id="{{ this_year }}-ref"><span> {{this_year}}</span></li>
        <ul class="posts">
          {% endif %}

            <li style="list-style: none; line-height:160%;font-size:20px"><span>{{ post.date | date: "%Y-%m-%d" }} &nbsp;</span> <a href="{{ post.url }}">{{ post.title }}</a></li>

          {% if forloop.last %}
            </ul>
            {% else %}
                {% if this_year != next_year %}
                  </ul>
                    <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
                  <ul>
                {% endif %}
      {% endif %}
    {% endunless %}
  {% endfor %}

